footer{
    position: relative;
    bottom: 0;
    width: 100%;
    clear: both;
    overflow: hidden;
    min-height: 40px;
    #footer-content{
        background-color: #202121;
        min-height: 40px;
    }
}