/* 
/* colors 
*/

$gold: #bfa86c;
$transparent-gold: rgba(191, 168, 108, 0.7);
$light-coffee: #986B4D;
$dark-coffee: #440706;



/* 
/* fonts
*/

$curly-font: 'Tangerine', cursive;
$block-font: 'Oswald', sans-serif;
