//= require_tree .
//= require_self
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700);
@import "bootstrap-sprockets";
@import "bootstrap";
            
@import "variables";            
@import "menubar";
@import "footer";

body{
    &.gold{
        background: image-url("gold.jpg");
        background-repeat: repeat-y;
        background-size: cover;
        background-position-y: 15px;
        .wrapper{
            min-height: 100%;
            height: auto !important;
        }
    }
}

body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

a, a:link, a:visited{
    text-decoration: none;
}