
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";            
@import "menubar";
@import "footer";

body{
    &.gold{
        background: image-url("gold.jpg");
        background-repeat: repeat-y;
        background-size: cover;
        background-position-y: 15px;
        .wrapper{
            min-height: 100%;
            height: auto !important;
        }
    }
}

#quotes{
    margin-top: 90px;
    background: $transparent-gold;
    border-top: 4px solid $gold;
    @media (max-width: 3840px) {
        margin-top: 90px;
    }
    
    @media (max-width: 1200px){
        margin-top: 80px;

    }

    @media (max-width: 992px) {
        margin-top: 60px;

    }

    @media (max-width: 768px) {
        margin-top: 40px;

    }
    .container{
        h4{
            text-transform: uppercase;
            font-family: $block-font;
            color: rgba(255, 255, 255, 0.8);
            line-height: 1.8;
            font-style: italic;
            font-size: 1.5em;
            margin-top: 20px;
            @media (max-width: 3840px) {
                line-height: 1.8;
                font-size: 1.5em;
            }
            
            @media (max-width: 1200px){
                line-height: 1.8;
                font-size: 1.5em;
            }
            
            @media (max-width: 992px) {
                line-height: 1.8;
                font-size: 1.5em;
            }

            @media (max-width: 768px) {
                line-height: 1.8;
                font-size: 0.7em;
            }
        }
        h5{
            font-family: $block-font;
            @media (max-width: 3840px) {
                font-size: 1.5em;
            }
            
            @media (max-width: 1200px){
                font-size: 1.2em;
            }
            
            @media (max-width: 992px) {
                font-size: 1.0em;
            }

            @media (max-width: 768px) {
                font-size: 0.7em;
            }
        }
    }   
}

a, a:link, a:visited{
    text-decoration: none;
}