@import "variables";
#gallery{
    height: 200px;
    h3{
        font-family: $block-font;
        text-transform: uppercase;
        color: $grey;
        font-size: 38px;
        margin-top: 26px;
    }
    #img-holder{
        position: relative;
        width: 420px;
        margin-top: 225px;
        border: 10px solid rgba(255, 255, 255, 0.7);
        box-shadow: 1px 1px 3px #444;
        margin: 0 auto;
        margin-top: 190px;
        @media(max-width: 420px) {
            width: 300px;
        }
        img{
            width: 400px;
            height: 297px;
            @media(max-width: 420px) {
                width: 280px;
                height: auto;
            }
        }
        #play-button{
            margin: 0 auto;
            border: 1px solid white;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            cursor: pointer;
            transition: all .3s ease-in-out;
            position: absolute;
            top: 108px;
            left: 150px;
            &:hover{
                transform: scale(1.1); 
            }
            i{
                font-size: 40px;
                margin-top: 28px;
                margin-left: 6px;
                color: white;
            }
        }
    }
}