@import "variables";
.form-container{
    @media (max-width: 3840px) {
        
    }
    
    @media (max-width: 1200px){
        
    }
    
    @media (max-width: 992px) {
        
    }

    @media (max-width: 768px) {
        
    }
    .hint{
        text-transform: uppercase;
        color: #777;
        @media (max-width: 768px) {
            font-size: 10px;
            margin-top: 50px;
        }
    }
    form{
        input[type=submit]{
            border-radius: 0px;
            font-family: $block-font;
            background-color: white;
            background-image: none;
            border:none;
            box-shadow: none;
            @media (max-width: 3840px) {
                
            }
            
            @media (max-width: 1200px){
                
            }
            
            @media (max-width: 992px) {
                
            }

            @media (max-width: 768px) {
                
            }
        }
        input[type=text]{
            border: none;
            border-radius: 0px;
            border-bottom: 1px solid $gold;
            background-color: rgba(255, 255, 255, 0.4);
            margin-top: 30px;
            height: 30px;
            &:focus{
                border-bottom: 3px solid $gold;
                box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.1);
            }
            @media (max-width: 3840px) {
                
            }
            
            @media (max-width: 1200px){
                
            }
            
            @media (max-width: 992px) {
                
            }

            @media (max-width: 768px) {
                
            }
        }
    }
}