// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
#action{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    margin-left: -2px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 4px #444;
    z-index: 20000;
    font-size: 22px;
    text-align: center;
    i{
        margin-top: 19px;
    }
    &:active{
        background: #6D97A1;
    }
}
.locations{
    .container{
        .location-items{
            .list-inline{
                margin: 0 !important;
                a{
                    li{
                        display: inline-block;
                        padding-left: 0px;
                        padding-right: 0px;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        text-align: center;
                        margin-top: 25px;
                        margin-bottom: 19px;
                        background: $gold;
                        &.selected{
                            background: #6D97A1;
                        }
                        @media (max-width: 3840px) {
                        }
                        
                        @media (max-width: 1200px){
                        }
                        
                        @media (max-width: 992px) {
                            font-size: 0.8em;
                            padding-top: 8px;
                            padding-bottom: 8px;
                        }

                        @media (max-width: 768px) {
                            font-size: 0.5em;
                            padding-top: 5px;
                            padding-bottom: 5px;
                        }
                    }
                    &:hover{
                        li{
                            background: #6D97A1;
                        }
                    }
                    &:active{
                        li{
                            background: #6D97A1;
                        }
                    }
                }
            }
            
            span{
                text-transform: uppercase;
                font-family: $block-font;
                color: white;
                i{
                    margin-left: 5px;
                    vertical-align: top;
                    line-height: 1.2;
                }
            }
        }
    }
    #map-holder{
        @media (max-width: 3840px) {
            height:584px;
        }
        
        @media (max-width: 1200px){
            height:584px;
        }
        
        @media (max-width: 992px) {
            height:484px;
        }

        @media (max-width: 768px) {
            height:384px;
        }
        .row{
            &.floating{
                position: relative;
                z-index: 1000;
            }
        }
        .map{
            position: absolute;
            top: 68px;
            height: 606px;
            width: 100%;
            border-bottom: 4px solid $gold;
            @media (max-width: 3840px) {
                height:606px;
            }
            
            @media (max-width: 1200px){
                height:606px;
            }
            
            @media (max-width: 992px) {
                height:506px;
            }

            @media (max-width: 768px) {
                height:406px;
            }
            
        }
    }
}